html body{
    width: 100%;
    height: 100%;
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.container{
    width: 100%;
    height: 100%;
    background-color:#d2d1d1 ;
    display: grid;
    grid-template-columns: repeat(13,2fr);
    gap: 1rem;
}

header{
    grid-column: 1/-1;
}
.navbar{
    width: 100%;
    height: 4.5rem;
    background-color: #2c3333;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.navbar span{
    color: white;
    font-size: 1rem;
    font-size: 1.3rem;
    transition: 0.3s;
 }

 .navbar input{
    padding: 5px;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 15px;
    height: 3rem;
    width: 15rem;
    outline: none;
 }

.navbar span:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 8px;
    grid-column: 1/-1;
    gap: 13px;
}

.card>img{
    width: 153px;
    height: 163px;
    border-radius: 8px 8px 0px 0px;
}

.card>p{
    width: 153px;
     height: 36px;
      text-align: center;
       background-color: #fdfdfd;
       font-size: 13.5px;
       border-radius: 0px 0px 8px 8px;
}

.menu{
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    background-color: white;
    width: 20rem;
    height: 32rem;
    border-radius: 10px;

}

.menu>h3{
    width: 100%;
    background-color: #2C3333;
    color: white;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;}

.menu>span{
    margin-top: 10px;
    padding: 5px;
    font-size: 1.1rem;
}



.maiiin{
    grid-column: 5/10;

}

.main-div{
    background-color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 6%;
    border-radius: 10px;
}
.contant{
    height: 78rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* grid-column: 5/10; */
    background-color: white;
    margin-top: 3%;
    border-radius: 10px;


}

.contant>h3{
    width: 100%;
    background-color: #2C3333;
    color: white;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.contant>p{
    margin-top: 1.5rem;
}

.contant>img{
    margin-top: 3rem;
    border-radius: 7px;
}

.text-audio{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.text-audio>p{
margin-top: 10px;
font-size: 20px;
}

.online-play{
    margin-bottom: 5%;
    width: 300px;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    color: black;
    background-color: #d0d0d0;
    border-radius: 10px;
}
 .contant>button{
    color: white;
    background-color: #395B64;
    padding: 5px;
    width: 370px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
} 

.Suggested{
    height: 17rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    grid-column: 2/10;
    background-color: white;
    margin-top: 7%;
    border-radius: 10px;
}

.Suggested>h3{
    width: 100%;
    background-color: #2C3333;
    color: white;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;

}



.carts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 8px;
    /* grid-column: 1/-1; */
    
}

.cart>img{
    width: 110px;
    height: 120px;
    border-radius: 8px 8px 0px 0px;
}

.cart>p{
    margin-top: 7px;
    width: 123px;
    height: 46px;
     text-align: center;
      background-color: #fdfdfd;
      font-size: 16px;
      border-radius: 0px 0px 8px 8px;
}

.cooment{
    margin-top: 8%;
    font-size: 25px;
    text-align: end;
}

.cooment input[type = text]{
    margin-top: 3%;
    width: 13rem;
    height: 3rem;
    text-align: end;
    padding: 15px;
    outline: none;
    border-radius: 15px;
    border: none;
    font-size: 16px;
}

.cooment input[type = email]{
    margin-top: 3%;
    width: 16rem;
    height: 3rem;
    padding: 15px;
    outline: none;
    text-align: end;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    margin-right: 8px;
}

textarea{
    margin-top: 3%;
    padding: 5px;
    outline: none;
    text-align: end;
    border-radius: 15px;
    border: none;
    font-size: 16px;
}

.menu2{
    height: 40rem;
    grid-column:10/12;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    font-size: 1rem;
    border-radius: 10px;
   
}

.menu2>h3{
    width: 100%;
    background-color: #2C3333;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
}

.menu2>span{
    margin-top: 16px;
    font-size: 16px;
}

.menu3{
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    background-color: white;
    width: 20rem;
    height: 42rem;
    border-radius: 10px;
    position: absolute;
    top: 116%;
    left: 14%;
}

.menu3>h3{
    width: 100%;
    background-color: #2C3333;
    color: white;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;}

.menu3>span{
    margin-top: 10px;
    padding: 5px;
    font-size: 1.1rem;
}


footer{
    width: 100%;
    height: 20rem;
    background-color: #2C3333;
    color: #ABADAD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    text-align: center;
    font-size: 1.1rem;
    margin-top: 7%;
    grid-column:1/-1;
   
}

footer>div{
    margin-left: 20px;
}

footer>div p{
    margin-top: 15px;
    font-family: fantasy;
}
footer>div h3{
    color: #E7F6F2;
    border-bottom: 1px solid #ABADAD;
    padding: 15px;
}

@media screen and (max-width:1250px){
    .contant>img{
        width: 280px;
        height: 280px;
      }
      .menu3{
        display: none;
        }
}

@media screen and (max-width:1000px){
    .card>img{
        width: 153px;
        height: 140px;
        /* border-radius: 8px 8px 0px 0px; */
    }

    .card p{
        width: 153px;
    }

    .menu2{
        display: none;
    }

    .maiiin{
        grid-column: 5/13;
    
    }

    .contant>img{
      width: 350px;
      height: 350px;
    }

    .menu{
        grid-column: 2/5;
    }
    
    #display-none{
        display: none;
    }


}



@media screen and (max-width:950px) {
    .display-none{
        display: none;
    }
}

@media screen and (max-width:850px){
    .menu{
        display: none;
    }
    .maiiin{
        grid-column: 2/13;
    }

    #display-none{
        display: block;
    }

    
}